
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


/*-------header-----*/

header{
    height: 100px;
    vertical-align: middle;
}
#logo{
    height: 100px;
    vertical-align: middle;
    padding-left: 30px;
}
#title{
    display: inline;
    font-size: 80px;
    vertical-align: middle;
    font-weight: 800;
    
}

/*-------main-------*/

#central-column{
    border: 1px;
    border-style: solid;
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}
/*button 1*/
#button1{
    
}
/*button 2*/

#central-header{

}
#central-body{

}
