
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


/*-------header-----*/

header{
    height: 100px;
    vertical-align: middle;
}
#logo{
    height: 100px;
    vertical-align: middle;
    padding-left: 30px;
}
#title{
    display: inline;
    font-size: 80px;
    vertical-align: middle;
    font-weight: 800;
    
}

/*-------main-------*/

#central-column{
    border: 1px;
    border-style: solid;
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}
/*button 1*/
#button1{
    background-color: cornflowerblue;
    color: white;
    padding: 4px;
    border-radius: 4px;
}
/*button 2*/
#button2{
    color: darkgray;
    padding: 4px;
}

#central-header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: darkgray;
    border-bottom: solid;

}
#central-body{

}
