* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    font-family: sans-serif;
}
/*--------header-------*/
header{
    height: 100px;
    color: #ffffff;
    vertical-align: middle;
    
}
#logo{
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
    height: 100px;

}
#title{

    display: inline-block;
    font-size: xxx-large;
    color: #000000;
    font-weight: 800;
    vertical-align: middle;
    padding: 5px, auto;
   
}
hr{
    margin-top: 5px;
    margin-bottom: 20px;
    border-color: lightgray;
    
    
}
/*----------main--------*/
main{
    background: color #fffaf0;
}
section{
    width:fit-content;
}
#main-center{
    display: inline-block;
    max-width: 500px;
    background-color: #ffffff;
    border: solid;
    border-color:  lightgrey;;
    margin-top: 100px;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
   

}